[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Backend
	owner = group user/Jon Inloes (jinloes)
[access "refs/for/refs/*"]
	read = group user/Jon Inloes (jinloes)
	push = group user/Jon Inloes (jinloes)
	label-Code-Review = -2..+2 group user/Jon Inloes (jinloes)
	label-Code-Review = -1..+1 group Backend
	label-Verified = -1..+1 group user/Jon Inloes (jinloes)
	rebase = group user/Jon Inloes (jinloes)
	removeReviewer = group user/Jon Inloes (jinloes)
	submit = group user/Jon Inloes (jinloes)
	exclusiveGroupPermissions = read push label-Code-Review label-Verified rebase removeReviewer submit
[access "refs/heads/*"]
	read = group user/Jon Inloes (jinloes)
	create = group user/Jon Inloes (jinloes)
	push = +force group user/Jon Inloes (jinloes)
	pushMerge = group user/Jon Inloes (jinloes)
	exclusiveGroupPermissions = read create push pushMerge
[access "refs/tags/*"]
	push = +force group user/Jon Inloes (jinloes)
	pushTag = +force group user/Jon Inloes (jinloes)
	pushSignedTag = group user/Jon Inloes (jinloes)
	exclusiveGroupPermissions = push pushTag pushSignedTag
