[access]
[access "refs/*"]
	owner = group user/Jon Inloes (jinloes)
	label-Code-Review = -2..+2 group user/Jon Inloes (jinloes)
	label-Code-Review = -1..+1 group Backend
	exclusiveGroupPermissions = push label-Code-Review
	read = group Backend
	push = group Backend
	submit = group Project Owners
[submit]
	action = rebase if necessary
	mergeContent = true
