[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jinloes
[access "refs/for/refs/*"]
	read = group user/jinloes
	push = group user/jinloes
	label-Code-Review = -2..+2 group user/jinloes
	label-Verified = -1..+1 group user/jinloes
	rebase = group user/jinloes
	removeReviewer = group user/jinloes
	submit = group user/jinloes
[access "refs/heads/*"]
	read = group user/jinloes
	create = group user/jinloes
	push = +force group user/jinloes
	pushMerge = group user/jinloes
[access "refs/tags/*"]
	push = +force group user/jinloes
	pushTag = group user/jinloes
	pushSignedTag = group user/jinloes
